@import '_main.scss';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.text-shadow {
  text-shadow: 3px 3px 5px #000;
}

.box-shadow {
  box-shadow: 5px 5px 10px #000000c5;
}

.glassy-bg {
  background-color: #242323ab;
  backdrop-filter: blur(1px);
}